<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkNCInfoService.VMIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <WorkNCInfoService.VMIS.Properties.Settings>
            <setting name="CONFIG_OPERATOR" serializeAs="String">
                <value>%WNCHOME%/vmis/vmis_operator.cfg</value>
            </setting>
           <setting name="LOGIN_USER_NAME" serializeAs="String">
                <value />
            </setting>
          <setting name="LOGIN_PASS_WORD" serializeAs="String">
                <value>ddvddv1</value>
            </setting>
            <setting name="PROCESS_PATH" serializeAs="String">
                <value>%WNCBIN%\wncmkcsv.exe</value>
            </setting>
            <setting name="PROCESS_ARGUMENT" serializeAs="String">
                <value>25 2</value>
            </setting>
            <setting name="WorkNCInfoService_VMIS_VeroMachingInfoWS_VeroMachingInfoWS"
                serializeAs="String">
                <value>http://veroinfo.azurewebsites.net/WebServices/VeroMachingInfoWS.asmx</value>
            </setting>
            <setting name="CONFIG_TIME_OUT" serializeAs="String">
                <value>600000</value>
            </setting>
          
          
        </WorkNCInfoService.VMIS.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
