@using WorkNCInfoService.Mvc5.Models.WorkModels;
@model PagedList.IPagedList<WorkNC_Factory>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Action("Search","Factory")
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <table id="tblFactories" class="simpleTable table">
        <tr class="td-border" style="background-color: green; color: white;">
            <th>&nbsp;</th>
            <th><a id="linkFactoryNo" href="#">No</a></th>
            <th><a id="linkFactoryName" href="#">Name</a></th>
            <th>Status</th>
        </tr>
    </table>
</div>

@section scripts{
    <script language="javascript">
        $(function () {

            //checked checkbox Deleted
            $('#isDeletedFactory').change(function () {
                if ($(this).is(':checked'))
                    $("#isDeletedFactory").prop('checked', true);
                else
                    $("#isDeletedFactory").prop('checked', false);
                //$(this).val($(this + ":checked").length > 0 ? true : false);
            });

            // Link machine No click event handler
            $('#linkFactoryNo').click(function (e) {
                e.preventDefault();
                if (tableData != null) {
                    // Sort data
                    tableData.sort(function (a, b) {
                        return a.No <= b.No ? -1 : 1;
                    });
                    PopulateTable(tableData, 1);
                }
            });

            // Link machine Name click event handler
            $('#linkFactoryName').click(function (e) {
                e.preventDefault();
                if (tableData != null) {
                    // Sort data
                    tableData.sort(function (a, b) {
                        return a.Name <= b.Name ? -1 : 1;
                    });
                    PopulateTable(tableData, 1);
                }
            });
            LoadTable();
        });

        // Global variable for table data
        var tableData = null;

        function LoadTable() {
            // Populate categories when the page is loaded.
            $.getJSON('/Factory/GetAllFactories', function (data) {
                // Populate table from Json data returned from server.
                PopulateTable(data, 1);
                tableData = data.slice(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // Ajax fail callback function.
                alert('Error getting machines!');
            });
        }

        function SearchTable() {
            e.preventDefault();
            if (tableData != null) {
                // Sort data
                tableData.sort(function (a, b) {
                    return a.No <= b.No ? -1 : 1;
                });
                PopulateTable(tableData, 1);
            }
        }

        //isDeleted checkbox checked
        function CheckedStatus(e) {
            var searchFactory = {
                Name: $('#txtFactoryName').val(),
                isDeleted: $('#isDeletedFactory').val()
            }
            $.ajax({
                type: 'GET',
                url: '/Factory/GetAllFactories',
                dataType: 'Json',
                data: searchFactory,
                success: function (data) {
                    PopulateTable(data, 1);
                    tableData = data.slice(0);
                }
            });
        }

        //search machine
        function SearchFactories() {
            var searchFactory = {
                Name: $('#txtFactoryName').val(),
                isDeleted: $('#isDeletedFactory').val()
            }
            $.ajax({
                type: 'GET',
                url: '/Factory/GetAllFactories',
                typeData: 'Json',
                contentType: "application/json; charset=utf-8",
                data: searchFactory,
                success: function (data) {
                    PopulateTable(data, 1);
                    tableData = data.slice(0);
                }
            });
        }
        // Populate table with pager.
        // Parameters
        // arrData - table data
        // pageNum - table page number
        function PopulateTable(arrData, pageNum) {
            var rowsPerPage = 10;
            var pages;
            var i;
            var pager = '';
            var startIndex;
            var endIndex;
            var row;

            $('#tblFactories tr:gt(0)').remove();
            if (arrData != null) {
                // Populate table with data in the current page.
                startIndex = (pageNum - 1) * rowsPerPage;
                endIndex = pageNum * rowsPerPage > arrData.length ?
                arrData.length - 1 : pageNum * rowsPerPage - 1;
                for (i = startIndex; i <= endIndex; i++) {
                    row = '<tr><td class="td-border">' + "<input type='checkbox' id='chkFactory' value='arrData[i].FactoryId'></input>" + '</td>'
                        + '<td class="td-border">' + arrData[i].No + '</td>'
                        + '<td class="td-border">' + arrData[i].Name + '</td>'
                        + '<td class="td-border">' + arrData[i].isDeleted + '</td></tr>';
                    $('#tblFactories').append(row);
                }

                // Show pager row if there is more than one page
                pages = Math.floor(arrData.length / rowsPerPage);
                if (pages < arrData.length / rowsPerPage) {
                    pages += 1;
                }
                if (pages > 1) {
                    for (i = 0; i < pages; i++) {
                        if (i == pageNum - 1) {
                            pager += '<span class="pager">' + (i + 1) + '</span>';
                        }
                        else {
                            pager += '<span><a href="#">' + (i + 1) + '</a></span>'
                        }
                    }
                    pager = '<tr><td colspan="4" class="pagerRow td-border">' +
                    pager + '</td></tr>';
                    $('#tblFactories').append(pager);

                    // Pager link event handler
                    $('#tblFactories tr td.pagerRow a').click(function (e) {
                        e.preventDefault();
                        var pNum = parseInt($(this).text());
                        PopulateTable(tableData, pNum);
                    });
                }
            }
        }
    </script>
}

<style>
    .pager {
        background-color: forestgreen;
        display: inline-block;
        margin: 0 5px;
        padding: 0 5px;
        color: white;
    }

    td.pagerRow a {
        color: forestgreen;
        font-weight: bold;
        margin: 0 5px;
    }
</style>