<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkNCInfoService.WebService.Properties.Settings.WorkNCConnectionString"
            connectionString="Data Source=HUYCUONG;Initial Catalog=WorkNC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>