<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\WorkNCInfoService.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="2" />
      <param name="MaximumFileSize" value="5000KB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%logger] [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
  </log4net>
  <appSettings>
    <add key="AdminAcount" value="admin" />
    
    
    <add key="PortalUrl" value="http://veroinfo.azurewebsites.net/Portal" />
    <!--<add key="PortalUrl" value="http://10.0.0.20:8089/Portal" />-->
   
    <!-- mail server config-->
    <add key="mail.mailServer" value="m.datadesign.co.jp" />
    <add key="mail.port" value="587" />
    <add key="mail.mailUserName" value="ftss@datadesign.co.jp" />
    <add key="mail.mailUser" value="ftss@datadesign.co.jp" />
    <add key="mail.mailPwd" value="C3C79KPQ9H" />
    <add key="mail.mailTimeOut" value="20000" />
    <add key="mail.EnableSsl" value="False" /> <!--Gmail is True , @datadesign is False  -->


    <!-- mailGridDelivery if we use Azure -->
    <!--<add key="mailGridDelivery.mailAddress" value="cuong719@yahoo.com" />
    <add key="mailGridDelivery.displayName" value="Vero Info" />
    <add key="mailGridDelivery.mailUserName" value="azure_6e7311e5af0855d93ad66dc62316de9d@azure.com" />
    <add key="mailGridDelivery.mailPwd" value="7oz86LByW7xRM2U" />-->

    
    <!-- mail ResetPassword -->
    <add key="mail.ResetPasswordSubject" value="VMIS Reset Password" />
    <add key="mail.ResetPasswordBody" value="ResetPassword.html" />

    <!-- mail Register User -->
    <add key="mail.RegisterUserSubject" value="VMIS Register User" />
    <add key="mail.RegisterUserBody" value="RegisterUser.html" />
     

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=azureblobdata;AccountKey=4psDWOtV5bRj/bVEH4wgOeEFwBEzEWWlzgPzpRqcTN4yzypBUSalkHcd9zZwcpGcicY1896K+jmveNgWN1k83Q==" />
    <add key="BlobContainer" value="portalworknc" />
  </appSettings>
  <connectionStrings>
    <!--<add name="WorkNCConnectionString" connectionString="Data Source=tcp:hf16xhevgr.database.windows.net,1433;Database=WorkNC;User ID=ddvsqluser@hf16xhevgr;Password=Ddv123456;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" providerName="System.Data.SqlClient" />-->
     <add name="WorkNCConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=10.0.0.10;Initial Catalog=WorkNC;Persist Security Info=True;User ID=sa;Password=123456" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.0" debug="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="WorkNCConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Style">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
    <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="WebServices">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Portal">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="api">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.6.5.0" newVersion="5.6.5.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.6.5.0" newVersion="5.6.5.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.6.5.0" newVersion="5.6.5.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>